<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta property="og:title" content="00만의 셀렉샵">
    <meta property="og:description" content="관심상품을 선택하고, 최저가 알림을 확인해보세요!">
    <meta property="og:image" content="images/og_selectshop.png">
    <link href="https://fonts.googleapis.com/css2?family=family=Nanum+Gothic&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="basic.js"></script>
    <title>배달의 민우</title>

</head>
<script>
    $(document).ready(function () {
    })

    function readRestaurant(){
    $.ajax({
        type:"GET",
        url:"/restaurants",
        success : function (response){
            for(let i =0; i<response.length; i++){
                let restaurant = response[i];
                let name = restaurant.name;
                let minorderprice = restaurant.minOrderPrice;
                let deliveryfee =restaurant.deliveryFee;
                let open = restaurant.open;
                let temp_html =``;
                if(open){
                    temp_html=`<div style="color: black"><h1>가게이름: ${name}</h1>
                                        <p>최소 금액 :${minorderprice}원</p>
                                        <p>기본 배달비 : ${deliveryfee}</p>
                                        <p>open</p>
                                      `
                }else{
                    temp_html=`<div style="color: grey"> <h1>가게이름 : ${name}</h1>
                                        <p>최소 금액 :${minorderprice}원</p>
                                        <p>기본 배달비 : ${deliveryfee}</p>
                                        <p>close</p>
                                     `
                }
                $('#restaurant-box').append(temp_html);

            }
        }
    })
    }
</script>
<body>
<div class="header" style="position:relative;">
    <div id="header-title-login-user">
        <span th:text="${username}"></span> 님의
    </div>
    <div id="header-title-select-shop">
        배달 가능 목록
    </div>

    <form id="my_form" method="post" action="/user/logout">
        <a id="logout-text" href="javascript:{}" onclick="document.getElementById('my_form').submit();">로그아웃</a>
    </form>
</div>
<div>
    <button onclick="readRestaurant()">모든 음식점 보기</button>
    <button>열린 음식점만 보기</button>
    <button>배달 가능 음식점만 보기</button>
</div>


    <div id="restaurant-box">

    </div>

</body>
</html>