<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Title</title>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge"><script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <script th:inline="javascript">
        var restaurantId = [[${restaurant.id}]];
    </script>
    <script>


        $(document).ready(function () {
            showmenu();
        })
        function showmenu(){
            $.ajax({
                type:"GET",
                url:"/restaurant/"+restaurantId+"/foods",
                success:function (response){
                    for(let i=0; i<response.length;i++){
                        let food = response[i];
                        let foodname = food.name;
                        let foodprice=food.price;
                        let foodopen = food.open;
                        let category = food.category;
                        console.log(food);
                        let temp_html=``
                        console.log(i+":"+food.open)
                        if(foodopen){
                            temp_html =`<div>
                                            <h2>${foodname}</h2>
                                            <p>${foodprice}</p>
                                            <p>${category}</p>
                                        </div>`
                        }else{
                            temp_html=`<div style ="color: gray">
                                            <h2>${foodname}</h2>
                                            <p>${foodprice}</p>
                                            <p>${category}</p>
                                        </div>`;
                        }
                        $('#menu-box').append(temp_html);
                    }
                }
            })
        }
    </script>
</head>
<body>
<h1 th:text="${restaurant.name}"></h1>
<p>x좌표:</p>
<p th:text="${restaurant.positionX}"></p>
<p>y좌표:</p>
<p th:text="${restaurant.positionY}"></p>
<div id="menu-box"></div>
</body>
</html>